/* line 1, ../sass/app.sass */
ul {
  list-style-type: none;
}

/* Branch */
/* line 5, ../sass/app.sass */
.tree-branch {
  padding: 0px;
  margin: 0px;
}

/* line 9, ../sass/app.sass */
.tree-node .tree-branch {
  padding-left: 10px;
}

/* Node */
/* line 13, ../sass/app.sass */
.tree-node {
  list-style: none;
  line-height: 20px;
}

/* Arrow */
/* line 18, ../sass/app.sass */
.tree-node .toggle-icon {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  margin-right: 0px;
  font-size: 10px;
}

/* line 25, ../sass/app.sass */
.tree-node .toggle-icon:hover {
  opacity: 0.8;
}

/* line 28, ../sass/app.sass */
.tree-node .toggle-icon.leaf {
  visibility: hidden;
}
