/* line 1, ../sass/app.sass */
ul {
  list-style-type: none;
}

/* line 4, ../sass/app.sass */
.expand-all {
  cursor: pointer;
}

/* Branch */
/* line 8, ../sass/app.sass */
.tree-branch {
  padding: 0px;
  margin: 0px;
}

/* line 12, ../sass/app.sass */
.tree-node .tree-branch {
  padding-left: 10px;
}

/* Node */
/* line 16, ../sass/app.sass */
.tree-node {
  list-style: none;
  line-height: 20px;
}

/* Arrow */
/* line 21, ../sass/app.sass */
.tree-node .toggle-icon {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  margin-right: 0px;
  font-size: 10px;
}

/* line 28, ../sass/app.sass */
.tree-node .toggle-icon:hover {
  opacity: 0.8;
}

/* line 31, ../sass/app.sass */
.tree-node .toggle-icon.leaf {
  visibility: hidden;
}
